body{
    background-color: rgb(255, 251, 241);
}
h1{
    text-align:center;
    font-family: Avenir;
    margin-top: 35px;
    font-weight: 550;
}
p.navbar-brand{
    margin: 0 auto;
    line-height: 10px;
    font-weight: bold;
    font-size: 12px;
}
h2{text-align:center;
    font-family: Avenir;
    font-weight: 200;
    font-size: 19px;
}
img.iot, .energy, .indoor-farming, .electric-vehicles{
    border-radius: 55%;
    height: 120px;
    width: 120px;
}
footer{
    text-align: left;
    margin-top: 50px;
    max-height: 300px;
    font-size: 15px;
    background-color: rgb(248, 249, 250);
    font-family: Avenir;
    line-height: 17px;
    padding-left: 20px;
    opacity:0.7;
}
p.company{
    font-size: 10px;
}
div.row{
    float: right;
    margin-bottom: 10px;
}
#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}
.table {
	display: table;
	margin: 0 auto;
}
ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 7px;
}
ul#horizontal-list li {
	display: inline;
}
.image-container{
    display: flex;
    margin: 35px 400px;
}
.image-text{
    margin: auto 25px;
    font-family: Avenir;
    font-size: 30px;
    font-weight: 500;
}
p.main-text{
    font-family: Avenir;
    font-size: 17px;
    margin: 0px 25px 5px 25px;

}
h2.new{
    text-align: center;
    font-family: Avenir;
    font-size: 20px;
    font-weight: 500;
    color: rgb(48 166 74);
}
a{
    color: rgb(48 166 74);
}